// Основные цвета
$primary-color: #44a248; // Основной цвет
$primary-hover: #249043; // Цвет при наведении
$background-color: #ffffff; //  цвет фона
$input-border: #dcdcdc; // Цвет границы полей ввода
$error-color: #ff4d4d; // Цвет для ошибок
$text-color: #333333; // Основной цвет текста
$border-color: #cccccc; // серый цвет, границы
$icon-color: #757575; // серый цвет, иконки
$background-color-main: #eeeeee; // серый цвет, иконки

$box-shadow-light: 0 4px 6px rgba(0, 0, 0, 0.1);
